/* Global */ 

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #f8f8ff;
    --itv-blue: #3d61af;
    --itv-red: #bf1b2d;
}

body {
    background: var(--bg-color);
}

.construction {
    width: clamp(250px, 45.5vw, 700px)
}

/* Shared Nav and Jumbotron */

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    background: var(--itv-red);
}

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2.4px;
    background: inherit;
}

.menu-wrap .hamburger > div:after {
    top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
    
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background-color: #3e5fb1;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

#jumbotronjawn {
    width: 100vw;
    height: clamp(150px, 30vw, 464px);
    object-fit: cover;
}

/* Quick Summary Modal Styles */

.modal {
    display: grid;
    place-self: center;
    width: 75%;
    padding: 1rem;
    border-radius: 4px;
}

.modal-content {
    display: grid;
    place-items: center;
}

.quick-sum {
    color:var(--itv-red);
    font-size: clamp(24px, 2vw, 36px);
    text-transform: uppercase;
    font-style: italic;
}

.page-title {
    font-size: clamp(14px, 2vw, 20px);
    margin-bottom: 8px;
    text-align: center;
}

.modal-content > p {
    padding: 0 1rem 0 1rem;
    font-size: 16px;
    line-height: clamp(25px, 2vw, 30px);
}

.close {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 24px;
    height: 24px;
}

.quick-summary-reopen {
    display: grid;
    justify-self: center;
    margin-top: 16px;
    padding: 12px;
    border-radius: 22px;
    color:var(--itv-red);
    font-size: clamp(24px, 2vw, 36px);
    text-transform: uppercase;
    font-style: italic;
    cursor: pointer;
    display: none;
}

/* Homepage styles */

.cta-landing {
    background-image: url('assets/lighthouse.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
}

.logo {
    display: grid;
    justify-items: center;
    width: 100%;
}

.logo > img {
    width: clamp(313px, 52vw, 800px);
    height: clamp(112.5px, 20vw, 310px);
}

.container-subh {
    text-align: center;
    background: #3e5fb1;
    color: white;
    font-weight: 900;
    width: clamp(313px, 52vw, 800px);
    height: 50%;
    display: grid;
    align-items: center;
    border-radius: 12px;
    padding: 14px;
    letter-spacing: 1px;
}

.container-subh > section {
    font-size: clamp(20px, 3vw, 36px);
    line-height: clamp(26px, 3vw, 47px);
}

.container-subh > p {
    font-size: 14px;
}

.container {
    display: grid;
    justify-items: center;
    font-family: 'Lora', serif;
    max-width: 100vw;
}

.linkbox-elections {
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 5px;
}

.linkbox-elections > a {
    text-decoration: none;
    color: black;
}

.main-content-box-with-shadow {
    box-shadow:
    3px 3px 6px 3px rgba(0, 0, 0, 0.1),
    -3px -3px 3px 3px rgba(247, 251, 255, 0.5),
    3px 3px 8px 2px rgba(0, 0, 0, 0) inset,
    -3px -3px 7px 2px rgba(247, 251, 255, 0) inset;
    padding: 24px;
    border-radius: 16px;
    width: 70%;
    display: grid;
    justify-items: center;
}

.ms-heading, .ss-heading {
    font-family: 'Calistoga', cursive;
    margin-bottom: 12px;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.ms-content, .ss-content, .ss-closing-remarks {
    margin-bottom: 18px;
    line-height: 30px;
    display: grid;
    justify-items: center;
    font-size: clamp(16px, 1vw, 20px);
}

.ms-content, .ss-content {
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, 
               inset -.2rem -.2rem .5rem #c8d0e7;
    padding: 20px;
    border-radius: 12px;
    width: 70%;
}

.ms-content-p,
.ss-li {
    margin-bottom: 14px;
}

.ms-content-p:nth-of-type(3),
.ss-li:nth-of-type(7) {
    margin-bottom: 0;
}

.ss-content > ul {
    list-style: none;
}

.ss-li > strong > a {
    display: block;
    margin-bottom: 8px;
    font-size: clamp(18px, 3vw, 20px);
    color: var(--itv-blue);
}

.ss-closing-remarks > p {
    margin-bottom: 8px;
}

.ms-content {
    text-align: center;
}

.ss-closing-remarks {
    margin-top: 12px;
    text-align: center;
    width: 60%;
}

.line-break {
    width: clamp(300px, 58.5vw, 900px)
}



/* Cumberland County Elections */


/* SAMPLE BALLOT */

#sample-ballot {
    font-family: 'REM', sans-serif;
    display: grid;
    width: 100vw;
}

.sb-top-box {
    display: grid;
    justify-items: center;
    margin-top: 16px;
}

.sb-top-box > h2 {
    color: var(--itv-red);
    font-size: 36px;
    font-weight: 900;
}

.sb-top-box > h3 {
    margin: 12px 0 12px 0;
}

.instructions {
    font-size: clamp(14px, 3vw, 32px);
    background: black;
    color: white;
    border-radius: 16px;
    padding: 8px;
    text-align: center;
    margin-top: 8px;
}

.school-board-instructions {

    margin-bottom: 16px;

}

.sb-top-box > h4 {
    font-size: 18px;
    font-weight: 900;
    margin-top: 16px;
}

.sb-top-box > h6 {
    font-size: 13px;
    margin-bottom: 4px;
}

#democratic-candidates, #republican-candidates {
    width: clamp(300px, 78vw, 1200px);
    display: grid;
    justify-self: center;
}

.table-titles {
    background: #A0A0A0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title {
    border: 3px solid black;
    display: grid;
    place-items: center;
}

.title:nth-of-type(1), .title:nth-of-type(2), .title:nth-of-type(3){
    border-right: none;
}

.title-big, .title-party-pc {
    font-weight: 900;
    font-size: 24px
}

.title-party-pc {
    width: 168px;
    text-align: center;
    line-height: 22px;
    margin-top: 7px;
}

.title-letter {
    font-weight: 900;
    font-size: 48px;
    margin-top: -6px;
}

.title-party {
    font-weight: 800;
    margin-top: -14px;
}

.title-party-espanol {
    font-size: 14px;
    margin-bottom: 3px;
}

.office-title, .a, .b, .personal-choice {
    border: 3px solid black;
    display: grid;
}

.office-title, .a, .b {
    border-right: none;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
}

.row > div {
    border-top: none;
}

.office-title {
    place-items: center;
    text-align: center;
    padding: 4px 0px;
}

.ot-english > p:nth-of-type(1), .ot-espanol > p:nth-of-type(1) {
    font-weight: 700;
    font-size: 16px;
}

.ot-english > p:nth-of-type(2) {
    margin-bottom: 5px;
}

.no-bottom {
    border-bottom: none !important;
    display: grid !important;
    align-items: end !important;
}

.mem-gen-assem1 > p:nth-of-type(1), .mem-gen-assem1 > p:nth-of-type(2) {
    font-weight: 700;
    font-size: 16px;
}

.no-top {
    border-top: none !important;
    display: grid !important;
    align-items: start !important;
}

.mem-gen-assem2 > p:nth-of-type(1), .mem-gen-assem2 > p:nth-of-type(2) {
    font-weight: 700;
    font-size: 16px;
} 

.a {
    display: grid;
    grid-template-rows: 60% 40%;
}

.a-row-1 {
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 45% 35% 20%;
}

.a-row-2 {
    grid-row-start: 2;
    padding-bottom: 4px;
}

.org {
    font-size: 12px;
    padding: 5px 0px 0px 5px;
}

.first-name {
    text-align: right;
    display: grid;
}

.first-name > a {
    justify-self: end;
    align-self: end;
    font-weight: 700;
    font-size: 20px;
}

.number-a-and-circle {
    display: flex;
    justify-content: flex-end;
}

.number-a-and-circle > p:nth-of-type(1) {
    font-size: 18px;
    font-weight: 600;
    padding-top: 7px;
    padding-right: 8px;
}

.number-a-and-circle > p:nth-of-type(2) {
    font-size: 28px;
    font-weight: 100;
    padding-top: 2px;
    padding-right: 6px;
}

.last-name {
    display: grid;
}

.last-name > a {
    justify-self: center;
    font-weight: 900;
    font-size: clamp(22px, 4vw, 36px);
    margin-left: 16px; 
}

div#democratic-candidates > .row > .a > .a-row-1 > .first-name > a,
div#democratic-candidates > .row > .a > .a-row-2 > .last-name > a {
    color: var(--itv-blue);
}

div#republican-candidates  > .row > .a > .a-row-1 > .first-name > a,
div#republican-candidates  > .row > .a > .a-row-2 > .last-name > a {
    color: var(--itv-red);
}

a.long-name {
    margin-left: 4px;
    font-size: clamp(22px, 3vw, 28px);
    justify-self: start;
}

#capizola {
    margin-left: 39px;
}

.last-name > p:nth-of-type(1) {
    margin-left: 16px;
}

.personal-choice {
    display: flex;
    justify-content: space-between;
}

.pc-col-1 {
    padding: 5px 0px 0px 5px;
}

.pc-line-2 {
    font-size: 12px;
}

.pc-col-2 {
    font-size: 28px;
    font-weight: 100;
    padding-top: 2px;
    padding-right: 6px;
}

.row:nth-of-type(3) {
    border-bottom: none;
}

.spacer {
    height: 24px;
    width: 100%;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#joseph {
    font-size: 18px;
}

#smith {
    margin-left: 48px;
}

.bold {
    font-weight: 700;
    font-size: 16px;    
}

.shift-down {
    margin-top: 60px;
}

.shift-up {
    margin-bottom: 60px;
}

.end-text {
    margin-top: 20px;
}

/* Candidate profile page styles */

.container {
    display: grid;
    justify-items: center;
}

.title-info {
    display: grid;
    font-family: 'REM', sans-serif;
    justify-items: center;
    margin-top: 16px;
    width: 100%;
}

.title-info > h2 {
    color: var(--itv-red);
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

.running-for {
    display: flex;
    font-weight: 700;
    margin-bottom: 8px;
}

.position {
    margin-left: 8px;
}

.incum-or-challenger {
    display: flex;
    text-transform: uppercase;
    width: 20%;
    justify-content: space-around;
}

.active {
    background: var(--itv-red);
    color: white;
    border-radius: 6px;
    border: 2px solid grey;
    padding: 8px;
}

.inactive {
    background: grey;
    color: #bfc1c2;
    border-radius: 6px;
    border: 2px solid white;
    padding: 8px;
    opacity: .5;
}

.candidate-pic-box {
    display: flex;
    width: 100%;
    margin-top: 12px;
    justify-content: center;
}

.cover {
    object-fit: cover;
    border-radius: 6px;
    width: clamp(300px, 27.9vw, 429px);
    height: clamp(300px, 27.9vw, 429px);
    margin-bottom: 12px;
}

.left-arrow {
    width: 30px;
    height: 30px;
    rotate: 180deg;
    margin-right: 15px;
    align-self: center;
    cursor: pointer;
}

.right-arrow, .next-candidate {
    width: 30px;
    height: 30px;
    margin-left: 7.5px;
    align-self: center;
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.grey-pic-border {
    border: 3px grey solid;
}

.candidate-agenda {
    display: grid;
    justify-items: center;
    max-width: 75vw;
    text-align: center;
    margin-bottom: 16px;
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(21px, 4vw, 26px);
}

.agenda-thesis > p,
.policy-positions > p,
.experience > p {
    margin-bottom: 11px;
}

.agenda-thesis > ul {
    text-align: start;
    padding: 20px;
    max-width: 330px;
}

.agenda-thesis > ul > li > ol {
    margin-left: 18px;
}

.agenda-per-party-site > ul {
    margin-left: 14px;
    text-align: start;
}

.testa-agenda, .policy-positions > ol {
    padding: 0 !important;
    max-width: 800px !important;
    text-align: start;
}

.sub-heading {
    color: var(--itv-red);
    text-transform: capitalize;
    font-size: clamp(23px, 4vw, 32px);
    line-height: clamp(36px, 4vw, 52px);
    font-weight: 800;
    padding: 8px 0 8px 0;
    width: 100%;
}

.website {
    display: flex;
    flex-direction: column;
    max-width: 330px;
}

.website > a {
    margin-bottom: 6px;
}

/* Get Involved Styles */

.main-content-box-with-shadow-gi {
    box-shadow:
    3px 3px 6px 3px rgba(0, 0, 0, 0.1),
    -3px -3px 3px 3px rgba(247, 251, 255, 0.5),
    3px 3px 8px 2px rgba(0, 0, 0, 0) inset,
    -3px -3px 7px 2px rgba(247, 251, 255, 0) inset;
    padding: 24px;
    border-radius: 16px;
    width: 70%;
    display: grid;
    justify-items: center;
    margin-top: 24px;
}

.get-involved-intro-heading, .get-involved-steps-heading {
    font-family: 'Calistoga', cursive;
    margin-bottom: 12px;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.get-involved-intro-content, .get-involved-steps-content, .get-involved-closing-remarks {
    width: 70%;
    margin-bottom: 18px;
    line-height: 30px;
    display: grid;
    justify-items: center;
}

.get-involved-intro-content, .get-involved-steps-content {
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, 
               inset -.2rem -.2rem .5rem #c8d0e7;
    padding: 20px;
    border-radius: 12px;
}

.get-involved-intro-content {
    text-align: center;
}

.get-involved-h1 {
    margin-bottom: 18px;
}

.gi-ol, .gi-ul {
   list-style-type: none; 
}

.gi-ul {
    width: 90%;  
    margin-top: 12px;  
}

.gl-li:nth-of-type(3) {
    display: grid;
    justify-items: center;
}

.gi-ul-li {
    margin-bottom: 8px;
}

.get-involved-closing-remarks > p {
    text-align: center;
}

.gl-li-title > p {
    margin-top: 12px;
    text-align: center;
}

/* Events Styles */

.main-content-with-box-shadow-events {
    box-shadow:
    3px 3px 6px 3px rgba(0, 0, 0, 0.1),
    -3px -3px 3px 3px rgba(247, 251, 255, 0.5),
    3px 3px 8px 2px rgba(0, 0, 0, 0) inset,
    -3px -3px 7px 2px rgba(247, 251, 255, 0) inset;
    padding: 24px;
    border-radius: 16px;
    width: 70%;
    display: grid;
    justify-items: center;
    margin-top: 24px;
}

.events-h1 {
    margin-bottom: 18px;
}

.event-card {
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, 
    inset -.2rem -.2rem .5rem #c8d0e7;
    padding: 20px;
    border-radius: 12px;
    width: 70%;
    margin-bottom: 18px;
    line-height: 30px;
    display: grid;
    justify-items: left;
}

.event-info {
    list-style-type: none;
}

.description {
    font-size: 14px;
}

.special-info {
    font-size: 14px;
}

/* About Styles */

.main-content-with-box-shadow-about {
    box-shadow:
    3px 3px 6px 3px rgba(0, 0, 0, 0.1),
    -3px -3px 3px 3px rgba(247, 251, 255, 0.5),
    3px 3px 8px 2px rgba(0, 0, 0, 0) inset,
    -3px -3px 7px 2px rgba(247, 251, 255, 0) inset;
    padding: 24px;
    border-radius: 16px;
    width: 70%;
    display: grid;
    justify-items: center;
    margin: 24px 0 24px 0;
}

.our-mission, .our-process, .our-suggestion {
    display: grid;
    justify-items: center;
}

.our-mission-heading, .our-process-heading, .our-suggestion-heading {
    font-family: 'Calistoga', cursive;
    margin-bottom: 12px;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.our-mission-content, .our-process-content, .our-suggestion-content {
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, 
               inset -.2rem -.2rem .5rem #c8d0e7;
    padding: 20px;
    border-radius: 12px;
    width: 70%;
    margin-bottom: 18px;
    line-height: 30px;
    display: grid;
    justify-items: center;
}

.about-h1 {
    margin-top: 36px;
}

.content-1, .ideal-system {
    text-align: center;
    padding: 12px;
}

.ideal-system-li {
    list-style-type: none;
    margin: 12px 0 12px 0;
    font-weight: 600;
}

.bullet {
    list-style-type: none;
    text-align: left;
}

.op-section, .os-section {
    text-align: center;
    margin: 12px 0 12px 0;
    text-align: center;
    padding: 12px;
}

.os-ol {
    padding: 12px;
    display: grid;
}

.os-subheading {
    justify-self: center;
    margin-bottom: 8px;
}

.os-li {
    list-style-type: none;
}

/* Contact Styles */

.contact {
    text-align: center;
    font-size: clamp(16px, 2vw, 24px);
    display: grid;
    justify-items: center;
    margin-top: 24px;
    font-family: 'Lora', serif;
    padding: 0px 12px 0 12px;
}

.contact > p {
    margin-bottom: 10px;
}

.contact > p:nth-of-type(2) {
    font-size: 14px;
}

/* Issues Styles */

.main-content-with-box-shadow-issues {
    box-shadow:
    3px 3px 6px 3px rgba(0, 0, 0, 0.1),
    -3px -3px 3px 3px rgba(247, 251, 255, 0.5),
    3px 3px 8px 2px rgba(0, 0, 0, 0) inset,
    -3px -3px 7px 2px rgba(247, 251, 255, 0) inset;
    padding: 24px;
    border-radius: 16px;
    width: 70%;
    display: grid;
    justify-items: center;
    margin: 24px 0 24px 0;
}

.issues-content {
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, 
               inset -.2rem -.2rem .5rem #c8d0e7;
    padding: 20px;
    border-radius: 12px;
    width: 70%;
    margin-bottom: 18px;
    line-height: 30px;
    display: grid;
    justify-items: center;
    text-align: center;
}

.issues-short-description {
    margin: 12px 0 12px 0;
    text-align: center;
}

.issues-heading {
    margin-bottom: 8px;
    width: 100%;
}

.issues-sub-heading {
    text-transform: uppercase;
}

.issues-sub-content {
    display: grid;
    padding: 12px;
    font-size: 14px;
}

.sub-issues-ol {
    max-width: 300px;
    text-align: start;
    justify-self: center;
}

/* Unanswered questions */

.main-content-with-box-shadow-ua {
    box-shadow:
    3px 3px 6px 3px rgba(0, 0, 0, 0.1),
    -3px -3px 3px 3px rgba(247, 251, 255, 0.5),
    3px 3px 8px 2px rgba(0, 0, 0, 0) inset,
    -3px -3px 7px 2px rgba(247, 251, 255, 0) inset;
    padding: 24px;
    border-radius: 16px;
    width: 70%;
    display: grid;
    justify-items: center;
    margin: 24px 0 24px 0;
}

.ua-content {
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, 
               inset -.2rem -.2rem .5rem #c8d0e7;
    padding: 20px;
    border-radius: 12px;
    width: 70%;
    margin-bottom: 18px;
    line-height: 30px;
    display: grid;
    justify-items: start;
    text-align: start;
    font-size: clamp(12px, 2vw, 16px);
}

.ua-content > p {
    margin-bottom: 10px;
}

.ua-short-description {
    margin: 12px 0 12px 0;
    text-align: center;
    padding: clamp(10px, 2vw, 16px);
    font-size: clamp(14px, 2vw, 16px);
}

.ua-short-description > p {
    margin-bottom: 6px;
}

.ua-h1 {
    margin-bottom: 8px;
    text-align: center;
    font-size: clamp(24px, 3vw, 32px);
}

/* Responsive Design */

/* Ballot Page */

@media screen and (max-width: 1215px) {

    .table-titles, .row {
        grid-template-columns: repeat(2, 1fr);
    }

    .table-titles .title:nth-of-type(4), .personal-choice,
    .table-titles .title:nth-of-type(3), .b {
        display: none;
    }

    .table-titles .title:nth-of-type(2), .a {
        border-right: 3px solid black;
    }

    .last-name > a, .last-name.long-name {
        display: grid;
        justify-self: end;
        margin-left: -12px;
        text-align: end;
    }
    .a-row-1 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .a-row-a.org, .a-row-a.number-a-and-circle {
        display: grid;
        grid-row: 1;
    }

    .first-name {
        display: grid;
        grid-row: 2;
        grid-column: 2;
        margin-left: -12px;
    }

    #simonsen-last-name,    
    #donato-last-name,
    #luisi-last-name, 
    #taylor-last-name,
    a#capizola.long-name {
        margin-left: 0;
    }

    .a {
        padding-right: 8px;
    }

  }

  @media screen and (max-width: 501px) {

    .title-big {
        font-size: 18px;
    }

    .push-down-last-name > a {
        margin-top: 12px;
    }

    .push-down-last-name-double > a {
        margin-top: 24px;
        font-size: 18px;
    }

  }

@media screen and (max-width: 401px) {

    .office-title {
        min-width: 156px;
    }

    .a-row-1 {
        max-width: 156px;
    }

    .a {
        max-width: 156px;
    }

    .number-a-and-circle {
        max-width: 73.55px;
    }

    .instructions {
        max-width: 350px;
    }

}

/* individual Candidate Pages */

@media screen and (max-width: 501px) {

    .running-for {
        flex-direction: column;
        text-align: center;
    }

    .candidate-agenda,
    .agenda-thesis,
    .website {
        text-align: start;
        justify-items: start;
    }

    .candidate-agenda {
        max-width: 85vw;
    }

  }



/* Shared stock container styles for home, about, etc.*/

@media screen and (max-width: 1064px) {

    .main-content-box-with-shadow,
    .main-content-box-with-shadow-gi,
    .main-content-with-box-shadow-events,
    .main-content-with-box-shadow-about,
    .main-content-with-box-shadow-issues,
    .main-content-with-box-shadow-ua {
        width: 95%;   
    }
  }

@media screen and (max-width: 1064px) {

    .ms-content, .ss-content, .ss-closing-remarks,
    .get-involved-intro-content, .get-involved-steps-content,
    .event-card, .our-mission-content, .our-process-content,
    .our-suggestion-content, .issues-content, .ua-content {
        width: 97%;
    }
  }

/* Homepage MQs */

@media screen and (max-width: 501px) {

    .logo {
        margin-top: 56px;
    }

    .main-content-box-with-shadow {
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        width: 94%;
        display: grid;
        justify-items: center;
    }

    .ms-heading, .ss-heading {
        justify-self: start;
        text-transform: none;
        padding: 0 26px 0 26px;
    }

    .ms-content, .ss-content {
        text-align: start;
        line-height: 21px;
    }

    .ss-closing-remarks {
        width: 90%;
        line-height: 21px;
    }

    .menu-wrap .menu > div > div > ul > li {
        font-size: 1rem;
        padding: .75rem;
    }

    .quick-sum {
        margin-bottom: 7px;
    }

    #austinoLN { 
        margin-top: 10px;
    }

  }
