#timeline-container {
  position: relative;
  width: 100%;
  display: flex; /* Using flex to layout events horizontally */
  flex-wrap: nowrap; /* Prevent events from wrapping to the next line */
  justify-content: space-between; /* Evenly space out the events */
}

.timeline-event {
  position: relative;
  width: 12%; /* Adjust width based on your preference */
  align-items: center;
}

.timeline-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-date {
  margin-bottom: 10px;
  text-align: center;
}

:root {
  --dot-radius: 10px; 
}

.timeline-dot {
  background-color: blue;
  border-radius: 50%;
  width: calc(var(--dot-radius)*2);
  height: calc(var(--dot-radius)*2);
  margin-bottom: 10px;
  margin-left: calc(50% - var(--dot-radius));
}

.timeline-description {
  text-align: center;
}

.timeline-event:nth-child(odd) {
  top: 0;
}

.timeline-event:nth-child(even) {
  bottom: -150px; /* Adjust this based on your design needs */
}

.eventInfo {
  text-align: center;
}
